name: Continuous Delivery

on:
  push:
    branches:
      - main

jobs:
  Automations:
    name: Run Automations
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3

      - name: Set up Node.js
        uses: actions/setup-node@2fddd8803e2f5c9604345a0b591c3020ee971a93 # tag=v3
        with:
          node-version: 17

      - name: Install Node.js dependencies
        run: npm i -g prettier && npm i

      - name: Convert TypeScript to JavaScript
        run: npx babel TypeScript --out-dir JavaScript --extensions ".ts"

      - name: Run JavaScript Prettier
        run: prettier --write .

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: "chore: update JavaScript plugins"
          branch: js
          delete-branch: true
          branch-suffix: short-commit-hash
          title: "chore: Update JavaScript plugins"
          body: "I have updated the JS Plugins for you!"
          reviewers: EvolutionX-10
      - name: Enable Pull Request Automerge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          merge-method: squash