name: Continuous Delivery

on:
  push:
    branches:
      - main
    paths:
      - 'plugins/**'
  workflow_dispatch:

jobs:
  gen-listing:
    runs-on: ubuntu-latest
    name: Execute babashka script
    steps:
      # To use a script from the repository,
      # you must check out the repository first
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.FORCE_PUSH }}
      # Now we can execute a babashka script from our
      # repository
      - name: setup babashka
        uses: turtlequeue/setup-babashka@v1.5.0
        with:
          babashka-version: 1.1.173
      - name: gen-list
        run: bb scripts/gen-list.clj
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "chore: update plugin listing"
          commit_options: '--no-verify --signoff'
          repository: .
          commit_user_name: "GitHub Actions"
          file_pattern: "pluginlist.json"
          status_options: '--untracked-files=no'
          push_options: '--force'